.container {
    width: 80vw;
    margin: auto;
    margin-top: 20px;
}

.collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
}

.collection div {
    padding: 30px;
    background-color: #0e2433;
    margin: 5px;
    border-radius: 5px;
    opacity: 0.8;
    transition: 0.5s;
    color: white;
}

.collection div h1 {
    color: white;
    font-size: 30px;
    font-weight: bolder;
}


.collection div:hover {
    opacity: 1;
}

@media(max-width: 850px) {
    .container {
        width: 95vw;
        margin: auto;
        text-align: center;
    }

    .collection {
        display: block;
    }
}